@use 'var' as var;

/*#region Skeleton*/
body{
    //background-color: var.$dark;
    //background-image: url("../imgs/bright-squares.png");
    //background: url("../imgs/Web-Red.png") fixed center no-repeat, #0a0a0a;
    background: var.$dark url('../svgs/Web-CRT.svg') top no-repeat;
    background-color: var.$dark;
    color: var.$primary;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr;//Row 1-Auto, Next Rows-Fills remaining Space

    column-gap: 15px;
    row-gap: 20px;

    overflow-x: hidden;
}

body:not(:has(nav)) main {
    grid-column: 1 / -1;
}

body:not(:has(nav)) header {
    grid-column: 1 / -1;
}

header{
    @include var.term-glass;
    grid-column: 1 / -1;
    h1{
        color: var.$light;
        text-align: center;
    }
    
}

.header_card{
    @include var.term-glass;
    width: 75%;
    margin: 10px auto;

    h2, h3{
        text-align: center;
       
    }
}

.back_btn{
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 10px;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

footer{
    grid-column: 1 / -1;
    position: fixed;
    bottom: 10px;
    left: 10px;
    a{

        color: var.$light;
    }
}
/*#endregion*/

/*#region Nav*/
    #side_nav{
        @include var.term-glass;
    
        margin-left: 15px;
        text-align: center;
        position: sticky;

        align-self: start;

        a{
            text-decoration: none;
            color: var.$light;
            font-size: 25px;
            text-align: left;
            display: block;
            margin: 20px;
            padding-left: 10px;
        }
        a:hover{
            color: var.$primary;
        }

        .nav_selected{
            color: var.$primary;
        }
        .nav_selected:hover{
            cursor: context-menu;
        }
    }
/*#endregion*/

/*#region Dashboard*/

.cards{
    position: relative;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    div{
        @include var.term-glass;

        left: 0;
        width: 15%;
        margin-top: 10px;
        margin-bottom: 10px;

        border-spacing: 0;
        text-align: center;
    }
}

.quick_actions{
    position: relative;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 15px 0;

    a{
        @include var.glass-btn;
        left: 0;
        width: 15%;
        text-align: center;
        text-decoration: none;
    }
}


/*#endregion*/

/*#region Scrape*/
#link_form{
    grid-column: 1 / -1;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
    text-align:  center;
    z-index: 2;

    input{
        width: 50%;
        height: 35px;
        margin: auto;
        font-size: 20px;
    }

    .scrape_btn{
        height: 35px;
        padding-bottom: 2px;
        font-size: 20px;
        font-weight: bold;
    }

}

/*#endregion*/

/*#region Table*/
table{
    width: 85%;
    color: var.$primary;
    background-color: rgba(5, 5, 5, .5);
    backdrop-filter: blur(8px) saturate(180%);

    border: 1px solid rgba(var.$primary, .5);;
    border-spacing: 0;

    margin: 10px auto;

    box-shadow: 
        0 0 0 1px rgba(var.$primary, 0.3),
        0 0 12px rgba(var.$primary, 0.3),
        0 4px 24px rgba(var.$primary, 0.3);

    th{
        color: var.$primary;
        margin-top: -5px;
        text-align: left;
        padding: 5px 10px 5px 10px;
        background-color: rgba(5, 5, 5, .8);
        backdrop-filter: blur(8px) saturate(180%);
    }

    a{
        text-decoration: none;
        color: var.$light
    }

    td{
        padding: 5px 10px 5px 10px;
    }
    td a{
        text-align: center;
    }

    tr{
        height: 35px;
        
    }

    tbody tr:hover td{
        background-color: var.$primary-60;
        cursor: pointer;
        color: var.$light;
    }

}

.recent_table{
    width: 70%;
    .table_scroll{
        max-height: 60vh;
        overflow-y: auto;
        padding-bottom: 15px;
        mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    }
}

.item-btn{
    padding: 5px;
    font-size: 18x;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
}
.delete-btn{
    padding: 3px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.update-btn{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.delete-all{
    padding: 5px;
    font-size: 18x;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
}
/*#endregion*/

/*#region Links*/
#toolbar{
    @include var.term-glass;

    position: sticky;
    top: 0;

    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-auto-flow: row; 

    .item-numbers{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #table-name{
        margin: 10px 0;
        padding: 0 10px;
    }

    #tools{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        margin: auto;
        align-self: start;

        padding: 0px 20px;
    }

    #filter_tools{
        grid-column: 1 / -1;
        width: 100%;
        height: fit-content;
        
        form{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 105%;
            margin: auto;
            padding-left: 10px;
        }

    }

    .table_btns{
        margin-bottom: 10px;
        white-space: nowrap;
        font-size: 0;
        line-height: 1;
        button{
            text-decoration: none;
            cursor: pointer;
            color: var.$primary-20;
            background-color: rgba(5, 5, 5, .7);
            
            backdrop-filter: blur(8px) saturate(180%);
            font-size: 16px;
            padding: 2px;
            border: 1px solid var.$primary;
        }
        button.active{
            background-color: rgba(var.$primary, .5);
            pointer-events: none;
        }
        button:hover{
            background-color: rgba(var.$primary-40, .5);
        }
    }

    .add-btn{
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        width: 20px;
    }

    .update-items-btn{
        padding: 5px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    .item-util-btns{
        display: inline-flex; //Matching a tag inline behavior
        align-items: center; //Vertical alignment

        label{
            padding: 5px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.scraped-links-table{
    height: auto;
    min-height: 0;
    overflow-y: hidden;
    table-layout: fixed;
    width: 85%;
   
    th:nth-child(1) { width: 8%; } /* Delete button */
    th:nth-child(2) { width: 2%; } /* ID column */
    th:nth-child(3) { width: 15%; } /* Site column */
    th:nth-child(4) { width: 15%; } /* Title column */

    th:nth-child(5) { width: 8%; } /* Grabbed column */
    th:nth-child(6) { width: 15%; } /* Last Extract column */
    th:nth-child(7) { width: 5%; } /* Items column */
    th:nth-child(8) { width: 15%; } /* Last Update column */
    th:nth-child(9) { width: 8%;}/* Update column */
    

    .ellipsis-cell{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .link_url{
        text-decoration: none;
        color: var.$light;
        text-overflow: ellipsis;
        .link_url a:hover{
            color: var.$success;
        }
    }


}

.page-tools{
    @include var.term-glass;

    width: 45%;
    margin: auto;
    text-align: center;

    a{
        color: var.$light;
        &:hover{
            color: var.$primary;
        }
    }

    .pagination{
        padding: 10px;
        margin: auto;
    }

    span{
        font-size: 25px;
        padding: 0 10px 0 10px;
    }
    
    input{
        @include var.term-glass;

        color: var.$light;
        text-align: center;
        width: 30px;
        font-size: 25px;
    }
}   

.pag_nav{
    text-decoration: none;
    font-size: 25px;
    &:hover{
        color: var.$secondary-10;
    }
}



/*#endregion*/

/*#region Confirm Modal*/
#modal_background{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var.$dark, .8);
    position: fixed;
    display: none;
    

    .modal_body{
        @include var.term-glass;
        position: absolute;
        width: 40%;
        height: 30vh;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-50%);

    #modal_content{
        position: absolute;
        color: var.$light;
        text-align: center;
        width: 50%;
        margin: auto;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }

    .modal_buttons{
        position: absolute;
        display: flex;
        width: 50%;
        text-align: center;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        justify-content: space-between;

        
        button{
            width: 100px;
            height: 50px;
            border-radius: 16px;
            font-size: 20px;
            &:hover{
                cursor: pointer;
            }
        }
    }

    }
}
/*#endregion*/

/*#region Items*/
.item_header{
    color: var.$light;
    a{
        text-decoration: none;
        color: var.$light;
        &:hover{
            color: var.$primary;
        }
    }
    .back{
        font-size: 30px;
    }
}

#item_page{
    max-height: 90vh;

    display: grid;
    grid-template-rows: auto auto 1fr auto;

    .link_info{
        @include var.term-glass;
        grid-row: 1;

        width: 75%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-spacing: 0;

        i{
            color: var.$light;
        }

        h2{
            background-color: rgba(5, 5, 5, .8);
            backdrop-filter: blur(8px) saturate(180%);
            text-align: center;
            margin:0;
        }
        h3{
            text-align: center;
            display: none;
        }

        .fa-caret-down{
            visibility: hidden;
            position: absolute;
            right: 20px;
        }

        .fa-caret-up{
            position: absolute;
            right: 20px;
        }

    }

    #toolbar{
        grid-row: 2;
        margin-bottom: 10px;
    }

    .items_table{
        grid-row: 3;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 100%;
        border-spacing: 0;

        .main_table{
            margin-top: 0;
        }

        thead{
            background-color: rgba(5, 5, 5, .85);
            backdrop-filter: blur(8px) saturate(180%);
            position: sticky;
            top: 0px;
            z-index: 1;
            border: 1px solid rgba(var.$primary, .5);
            th{
                border-top: 1px solid rgba(var.$primary, .5);
                border-bottom: 1px solid rgba(var.$primary, .5);
            }
        }

        td{
            padding-top: 10px;
            overflow: hidden;
        }
        
        .item{
            width: 15vw;
        }
        .item:hover{
            cursor: pointer;
        }

        .item-column{
            display: none;
        }

        .link_url{
            max-width: 300px;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            a{
                color: var.$light;
                text-decoration: none;
            }
        }
        .link_url a:hover{
            color: var.$success;
        }
    }

    #item_actions{
        @include var.term-glass;
        grid-row: 4;

        width: 90%;
        margin: auto;

        border-spacing: 0;
        margin-top: 10px;
        margin-bottom: 10px ;

        display: flex;
        justify-content: space-between; /* spread left & right groups */
        padding: 10px 20px;
        align-items: center;

        .right_btns{
            display: flex;
            gap: 12px;
        }

        button{
            font-size: 20px;
        }
    

    }
}

.url{
    color: var.$light;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: var.$success
    }
}

.parent_url{
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: var.$success
    }
}

h3 a{
    display: block;
}

#save_form_input{
    display: none;
}

.link_del{
    display: none;
}

#ds_btn:disabled{
    //background-color: var.$red-700;
    &:hover{
      color: black;
      cursor: context-menu;
    }
}

#dsa_btn:disabled{
    //background-color: var.$yellow-700;
    &:hover{
      color: black; 
      cursor: context-menu; 
    }
}   

#save_btn:disabled{
    //background-color: var.$green-700;
    &:hover{
      color: black;  
      cursor: context-menu;
    }
}

#zoom{
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;

    justify-content: center;
    align-items: center; 

    .fa-x{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
    }

    .fa-x:hover{
        color: var.$primary;
        cursor: pointer;
    }


    .zoom_item{
        position: relative;
        z-index: 3;
        height: 70vh;
        margin: auto;
        object-fit: contain;
    }
}

/*#endregion*/

/*#region Settings*/

#options{
    width: 80%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-evenly;
    .option_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.set_opt{
    cursor: help;
}

.set_tip{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 120px;
    background-color: var.$secondary;
    color: var.$light;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    top: 10px;
    margin-left: -60px;
}

.set_tip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 20px;
    border-style: solid;
    border-color: var.$secondary transparent transparent transparent;
}

.set_opt:hover .set_tip{
    visibility: visible;
}


.format_card{
    @include var.term-glass;
    width: 75%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto;
    h3{
        text-align: center;
        grid-column-end: span 2;
    }

    .formats{
        @include var.term-glass;
        display: grid;
        grid-template-columns: auto auto;
        padding-bottom: 10px;
        h4{
            margin-left: 15px;
            grid-column-end: span 2;
        }
    }

}

.rules_header{
    display: flex;
    justify-content: center;
    button{
        margin: auto
        width 50%
    }
}

#new_rule_card{
    @include var.term-glass;
    display: none;
    #rule_modal{
        
    }
}

.save_settings_btn{
    margin: auto;
    width: 75%;
    position: sticky;
    button{
        width: 100%;
        
    }

}



/*#endregion*/

/*#region Custom Checkbox */
//Move Checkbox label up

.checkbox input{
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .c_checkbox {
        background-color: var.$secondary;    
    }

    &:checked + .c_checkbox:hover  {
        background-color: var.$secondary-40;    
    }

    &:checked + .c_checkbox::after{
        position: absolute;
        content: "";
        width: 15px;         
        height: 15px;
        background-image: url('../svgs/check.svg');
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
    }
}

.c_checkbox{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgba(var.$light, .5);

    &:hover{
        background-color: var.$light;
        transition: .2s;
    }
}

/*#endregion*/

/*#region Custom Slider */
.switch{
    position: relative;
    display: inline-block;
    height: 26px;
    width: 52px;

    input{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: var.$secondary;
        }
        &:focus + .slider {
            box-shadow: 0 0 1px var.$secondary;
        }
        &:checked + .slider:before {
            transform: translateX(26px);
        }
        &:checked + .slider:hover::before {
            background-color: rgba(var.$light, 0.5);
            transition: .2s;
        }
    }

    .slider{
        position: absolute;
        cursor: pointer;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        height: 26px;
        width: 52px;
        background-color: rgba(var.$light, 0.5);
        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: 22px; 
            width: 22px;
            left: 2px;
            bottom: 2px;
            background-color: var.$light;
            transition: .4s;
 
        }

        &:hover{
            background-color: var.$light;
        }
        &:hover::before{
            background-color: var.$secondary;
        }  
    }
}





/*#endregion*/


.browser_btns{
    position: relative;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 15px 0;

    button{
        @include var.glass-btn;
        left: 0;
        width: 15%;
        text-align: center;
        text-decoration: none;
    }
    img{
        width: 70px;
    }
}

