{% extends "skeleton.html" %}
{% block title %}Web Scraper{% endblock %}

{% block content %}
    <div class="cards">
        <div><h3>Running: {{data.running}}</h3></div>
        <div><h3>Queued: {{data.queued}}</h3></div>
        <div><h3>Completed: {{data.completed}}</h3></div>
        <div><h3>Failed: {{data.failed}}</h3></div>
        <div><h3>Files: </h3></div>

    </div>

    <div class="quick_actions">
        <a href="scrape/media/"><div><h3>Scrape Media</h3></div></a>
        <!--<a href="scrape/links/"><div><h3>Scrape Links</h3></div></a>
        <a href="scrape/video/"><div><h3>Scrape Video</h3></div></a>
        <a href="bookmarks/"><div><h3>Extract Bookmarks</h3></div></a>-->
    </div>

    <div class="recent_table">
        <div id="toolbar">
            <h2 id="table-name">Recent Jobs</h2>



            <div id="tools">                        
                <input placeholder="search">

                <!--<form method="get">
                    <select name="site_filter" id="site_filter" onchange="this.form.submit()">
                        <option value="">Site Filter</option>
                        {% for site in data.site_options %}
                            <option value="{{site}}" {% if site == data.selected_site %} selected {% endif %}>
                                {{site}}
                            </option>
                        {% endfor %}
                    </select>
                </form>-->
            </div>

            <div id="filter_tools">

                <form method="get">
                        <input type="hidden" name="type" value="{{ data.type }}" id="hidden-range">
                        <input type="hidden" name="range" value="{{ data.current_range }}" id="hidden-range">
                        <input type="hidden" name="status" value="{{ data.status }}" id="hidden-range">

                        <select name="type" id="type" onchange="this.form.submit()">
                            <option value="">Job Type</option>
                            <option value="scrape">Scrape</option>
                            <option value="update">Update</option>
                            <option value="extraction">Extract</option>
                        </select>

                        <div class="table_btns">
                            <button name="range" value="1d" class="{% if data.current_range == '1d' %}active{% endif %}" onclick="this.form.submit()">1d</button>
                            <button name="range" value="1w" class="{% if data.current_range == '1w' %}active{% endif %}" onclick="this.form.submit()">1w</button>
                            <button name="range" value="1m" class="{% if data.current_range == '1m' %}active{% endif %}" onclick="this.form.submit()">1m</button>
                        </div>


                        <select name="status" id="status" onchange="this.form.submit()">
                            <option value="">Status</option>
                            <option value="running">Running</option>
                            <option value="queued">Queued</option>
                            <option value="completed">Completed</option>
                            <option value="failed">Failed</option>
                        </select>
                </form>
            </div>

        

        </div>
        <div class="table_scroll">
            <table>
                <thead>
                    <tr>
                        <th>Job Type</th>
                        <th>URL</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in data.recent_jobs %}
                        <tr>
                            <td>{{job.scrape_type}}</td>
                            <td>{{job.url}}</td>
                            <td>{{job.status}}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>


{% endblock %}
{% block scripts %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            nav_select();
        });

        function nav_select(){
            var nav = document.getElementById("dash_nav")
            nav.classList.add("nav_selected")
        }

    </script>

{% endblock %}